<div class="customer-form-container">
  <h3>Add New Customer</h3>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>First Name</mat-label>
      <input matInput formControlName="firstName" required />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="lastName" required />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Street</mat-label>
      <input matInput formControlName="street" required />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>City</mat-label>
      <input matInput formControlName="city" required />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Suburb</mat-label>
      <input matInput formControlName="suburb" required />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Postal Code</mat-label>
      <input matInput formControlName="postalCode" required />
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Add Customer</button>
  </form>
</div>
