<div class="customer-details-container" *ngIf="selectedCustomer$ | async as customer">
  <div class="header">
    <h3>Customer Details</h3>
    <button mat-icon-button class="close-button" (click)="onClose()" matTooltip="Close details">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="detail-item">
    <div class="label">First Name</div>
    <div class="value">{{ customer.firstName }}</div>
  </div>

  <div class="detail-item">
    <div class="label">Last Name</div>
    <div class="value">{{ customer.lastName }}</div>
  </div>

  <div class="detail-item addresses-section">
    <div class="label">Addresses</div>
    <ul class="addresses-list" *ngIf="customer.addresses?.length; else noAddresses">
      <li *ngFor="let address of customer.addresses">
        <div><strong>{{ address.street }}</strong></div>
        <div>{{ address.suburb }}, {{ address.city }}</div>
        <div>{{ address.postalCode }}</div>
      </li>
    </ul>
    <ng-template #noAddresses>
      <div class="no-addresses">No addresses available</div>
    </ng-template>
  </div>
</div>
