<div class="customer-list-container">
  <h2>Customer Management</h2>

  <div class="toolbar">
    <mat-form-field appearance="outline">
      <mat-label>Search customers</mat-label>
      <input
        matInput
        #searchInput
        (input)="onSearch(searchInput.value)"
        placeholder="Search by first or last name..."
      />
      <mat-icon matPrefix>search</mat-icon>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="openAddCustomerDialog()">
      <mat-icon>add</mat-icon>
      Add Customer
    </button>
  </div>

  <div class="customer-list-layout">
    <div class="table-container">
      <div *ngIf="loading$ | async" class="loading-container">
        <mat-spinner diameter="40"></mat-spinner>
      </div>

      <table
        *ngIf="!(loading$ | async)"
        mat-table
        [dataSource]="(filteredCustomers$ | async) || []"
        class="mat-elevation-z8 customer-table"
      >
        <!-- First Name Column -->
        <ng-container matColumnDef="firstName">
          <th mat-header-cell *matHeaderCellDef class="column-firstName">First Name</th>
          <td mat-cell *matCellDef="let customer" class="column-firstName">
            {{ customer.firstName }}
          </td>
        </ng-container>

        <!-- Last Name Column -->
        <ng-container matColumnDef="lastName">
          <th mat-header-cell *matHeaderCellDef class="column-lastName">Last Name</th>
          <td mat-cell *matCellDef="let customer" class="column-lastName">
            {{ customer.lastName }}
          </td>
        </ng-container>

        <!-- Addresses Column -->
        <ng-container matColumnDef="addresses">
          <th mat-header-cell *matHeaderCellDef class="column-addresses">Addresses</th>
          <td mat-cell *matCellDef="let customer" class="column-addresses">
            <ul class="address-list" *ngIf="customer.addresses?.length; else noAddresses">
              <li *ngFor="let address of customer.addresses">
                {{ address.city }}, {{ address.postalCode }}
              </li>
            </ul>
            <ng-template #noAddresses>
              <span class="no-data">No addresses</span>
            </ng-template>
          </td>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef class="column-actions"></th>
          <td mat-cell *matCellDef="let customer" class="column-actions">
            <div class="action-buttons">
              <button
                mat-icon-button
                color="accent"
                  (click)="viewCustomerQuotes(customer)"
                matTooltip="View quotes"
                aria-label="View customer quotes"
              >
                <mat-icon>receipt</mat-icon>
              </button>
              <button
                mat-icon-button
                color="primary"
                (click)="editCustomer(customer)"
                matTooltip="Edit customer"
                aria-label="Edit customer"
              >
                <mat-icon>edit</mat-icon>
              </button>
              <button
                mat-icon-button
                color="warn"
                (click)="deleteCustomer(customer)"
                matTooltip="Delete customer"
                aria-label="Delete customer"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>

        <!-- Header Row -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

        <!-- Clickable Data Row -->
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          (click)="onRowClick(row)"
          class="clickable-row"
          [class.selected]="(selectedCustomer$ | async)?.id === row.id"
        ></tr>
      </table>
    </div>

    <div class="details-container mat-elevation-z8" *ngIf="selectedCustomer$ | async">
      <app-customer-details (close)="onCloseDetails()"></app-customer-details>
    </div>
  </div>
</div>
