<div class="customer-list-container">
  <h2>Customer Management</h2>
  <div>
    <app-customer-form></app-customer-form>
  </div>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Search by First Name</mat-label>
    <input matInput #searchInput (input)="onSearch(searchInput.value)" placeholder="Type to filter..." />
  </mat-form-field>

  <table mat-table [dataSource]="(filteredCustomers$ | async) || []" class="mat-elevation-z8" multiTemplateDataRows>
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef style="width: 22%;"> First Name </th>
      <td mat-cell *matCellDef="let customer" style="width: 22%;"> {{customer.firstName}} </td>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef style="width: 22%;"> Last Name </th>
      <td mat-cell *matCellDef="let customer" style="width: 22%;"> {{customer.lastName}} </td>
    </ng-container>

    <ng-container matColumnDef="addresses">
      <th mat-header-cell *matHeaderCellDef style="width: 22%;"> Addresses </th>
      <td mat-cell *matCellDef="let customer" style="width: 22%;">
        <ul>
          <li style="margin: 0; padding: 1.2rem;" *ngFor="let address of customer.addresses">
            {{ address.city }}, {{ address.postalCode }}
          </li>
        </ul>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef style="width: 22%;"> Actions </th>
      <td mat-cell *matCellDef="let customer" style="width: 22%;">
        <button mat-icon-button color="accent" (click)="deleteCustomer(customer)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
